<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>ThreadCraft Login</title>

    <link
        rel="stylesheet"
        href="/static/login.css">

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

    <div class="background"></div>

    








<div class="login-container">

    <div class="left-panel">

        <img
            src="/static/cosmic.png"
            alt="Cosmic Illustration">

    </div>




<div class="right-panel">

    <div class="logo">

        🚀

        <h1>
            ThreadCraft <span>AI</span>
        </h1>

        <p>
            Turn ideas into viral threads.
        </p>

    </div>

    <div class="login-card">

        <h2>Welcome Back ✨</h2>

        <p class="subtitle">
            Login to continue your journey with ThreadCraft AI
        </p>

       <div class="input-group icon-input">

    <i class="fa-regular fa-envelope"></i>

    <input
        type="email"
        id="email"
        placeholder="Enter your email">

</div>

<p id="emailError" class="error"></p>



<div class="input-group icon-input password-box">

    <i class="fa-solid fa-lock"></i>

    <input
        id="password"
        type="password"
        placeholder="Enter your password">

    <span
        class="toggle-password"
        onclick="togglePassword()">

        <i class="fa-regular fa-eye"></i>

    </span>

</div>

<p id="passwordError" class="error"></p>



<div class="options">

    <label>

        <input type="checkbox">

        Remember me

    </label>

    <a href="#">

        Forgot Password?

    </a>

</div>

        <button
            class="login-btn"
            onclick="login()">

            <span class="btn-text">
                Login
            </span>

            <span class="btn-arrow">
                →
            </span>

        </button>

    </div>

</div>


</div>










    <script src="/static/login.js"></script>

</body>

</html>